$primary-color:#7ED6CF;
$dark:#284241;
$shaded:#1E5753;
$light:#7ED6CF;

html {
  overflow-y: scroll;
  min-height: 1200px;
}

body:not(.index) {
  margin-top: 50px;
}

.container {
  position: relative;
}

.text-center {
  text-align: center;
}

@media screen and (max-width:840px) {
  .mobile-center {
    text-align: center;
  }
}

@media screen and (max-width:840px) {
  .mobile-hide {
    display: none !important;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  display: block;
}

@mixin br($t, $r, $b, $l) {
  -webkit-border-radius: $t $r $b $l;
  border-radius: $t $r $b $l;
} /* GOML */

@mixin nowrap() {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}