<div class="window black title">
  <div class="container text-center">
    <h1 class="margin-none light caps spaced">Contact Us</h1>
  </div>
</div>
<div class="window">
  <div class="container">
    <section class="contact-form row max-640">
      <h3 class="text-center light">Let's get started.</h3>
      <form accept-charset="UTF-8" action="https://formkeep.com/f/67013731cb1b" method="POST">
        <input type="hidden" name="utf8" value="✓">
        <div class="form-group">
          <label for="contactBody"><span>*</span> How can we help?</label>
          <textarea name="body" required class="form-control" id="contactBody"></textarea>
        </div>
        <div class="form-group row">
          <div class="columns six">
            <label for="contactEmail"><span>*</span> Email</label>
            <input name="email" type="email" required class="form-control" id="contactEmail">
          </div>
          <div class="columns six">
            <label for="contactName"><span>*</span> Company</label>
            <input name="name" type="text" required class="form-control" id="contactName">
          </div>
        </div>
        <div class="form-group">
          <label for="contactWhere">How did you hear about us?</label>
          <input name="where" type="text" class="form-control" id="contactWhere">
        </div>
        <input type="submit" value="submit" class="button-primary">
      </form>
    </section>
  </div>
</div>
